.container {
    margin-top: 30px;
}

.movie-page-header p {
    font-size: 30px;
    font-family: "Playfair Display";
    font-weight: bold;
    text-align: center;
    color: brown;
}

.movie-item {
    display: flex;
    align-items: center;
    padding: .5rem;
    width: 100%;

    img {
        width: 75px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        margin-right: 1rem;
    }

    .movie-list-detail {
        flex: 1 1 0;
    }

    .movie-list-action {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .movie-category-icon {
        vertical-align: middle;
        margin-right: .5rem;
    }

    .movie-category {
        vertical-align: middle;
        line-height: 1;
    }
}

@media screen and (max-width: 576px) {
    .movie-item {
        flex-wrap: wrap;

        .image-container {
            width: 100%;
            text-align: center;
        }

        img {
            margin: 0 0 1rem 0;
            width: 100px;
        }
    }
}