<p-card header={{movieData.name}} subheader="{{ movieData.title }}" [style]="{width: '360px'}" class="card"
    styleClass="p-card-shadow" (click)="viewMovieDescription(movieData.id)">
    <ng-template pTemplate="header">
        <img alt="Card" src={{movieData.imageURL}} height="450px" width="280px"
            (click)="viewMovieDescription(movieData.id)">
    </ng-template>
    <div style="display: flex;">
        <div class="movie-name">{{ movieData.genre }}</div>
        <div class="movie-name" *ngIf="movieData.isAvailableOnPrime">
            <i class="pi pi-prime" style="font-size: 1.1rem;
            color: goldenrod;"></i>{{ 'MOVIE_DETAIL.PRIME' | translate }}
        </div>
    </div>
</p-card>