.card {
    border-width: 2px;
    border-radius: 10px;
}

p {
    color: darkgreen;
    font-weight: 480;
}

img {
    cursor: pointer;
}

.movie-name {
    padding-right: 18px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.5;
}