.div-data {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}

.card {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
}

.movie-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 50%;

    img {
        width: 350px;
        height: 500px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        margin-right: 2rem;
    }
}

.movie-name {
    padding-right: 18px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.5;
}

.movie-description {
    margin: 0.5rem 0 1rem 0;
}

.movie-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.movie-list-action {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.buttons-align {
    margin-top: 1.2rem;
}

.align-value {
    display: flex;
}

::ng-deep .success-style {
    background-color: seagreen;
    color: white;
}

@media screen and (max-width: 576px) {
    :host ::ng-deep .align-value {
        flex-direction: column;
    }
}